[Unit]
Description=Run Hyprland Wallpaper Cycler every 5 minutes
Requires=wallpaper-randomizer.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
