layout {
    background-color "transparent"

    focus-ring {
        active-color   "#ffb3b1"
        inactive-color "#a98988"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb3b1"
        inactive-color "#a98988"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb3b1"
        inactive-color "#a98988"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb3b180"
    }
}

recent-windows {
    highlight {
        active-color   "#fc5a60"
        urgent-color   "#ffb4ab"
    }
}